body {
  transition: all .4s;
}

#main-wrapper {
  min-height: 100vh;
}

#settings-button {
  width: auto;
}

#modal-form .number-input {
  width: 4em;
}

#modal-form fieldset {
  background-color: #aaa;
  border-radius: 4px;
}

#t-display {
  font-size: 8rem;
  line-height: 1;
}

.black-button {
  color: #000;
  font-size: 3em;
  background: none;
  border: none;
  transition: all .2s;
  -webkit-text-stroke: white 1px;
}

#t-play-pause {
  font-size: 5rem;
}

.black-button:focus {
  -webkit-text-stroke: white 2px;
  text-shadow: 0 0 30px #fff;
  outline: none;
}

.black-button:hover {
  transform: scale(1.05);
  opacity: 75%;
}

.black-button:active {
  color: #ddd; 
}

#t-progress-segments {
  height: 3em;
  display: flex;
  justify-content: center;
  border: 2px solid #777;
  border-radius: 8px;
  overflow: hidden;
}
#t-progress-segments span {
  padding-top: 1.4em;
  font-size: x-small;
}

#t-progress-overlay {
  height: 3em;
  background: rgba(0,0,0,0.7);
  position: relative;
  top: -3em;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  margin-left: auto;
}

#t-progress-time {
  margin-top: -2em;
}
