@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

body {
  font-family: 'Teko', sans-serif;
  transition: all .4s;
  max-height: 100vh;
}

#main-wrapper {
  min-height: 100vh;
}

/* SETTINGS MODAL */
#settings-modal, #settings-modal-label {
  font-size: 1.5em;
}

#modal-form .number-input {
  width: 4em;
}

#modal-form fieldset {
  background-color: #aaa;
  border-radius: 4px;
}

#update-timer-button {
  background: #000;
  border: none;
}

#update-timer-button:hover, #update-timer-button:focus {
  background: #333;
  border: none;
  box-shadow: none;
}

#update-timer-button:active {
  background: #aaa;
  border: none;
  box-shadow: none;
}

#cancel-button:active {
  background: #aaa;
  border: none;
  box-shadow: none;
}

#update-timer-button, #cancel-button {
  font-size: 1.3em;
  box-shadow: none;
}

/* TIMER */
#t-display {
  font-size: 8em;
  line-height: 1;
}

.black-button {
  color: #000;
  font-size: 3em;
  background: none;
  border: none;
  transition: all .2s;
  text-shadow:
    1px 1px 2px #FFF,
    -1px -1px 2px #FFF,  
    1px -1px 2px #FFF,
    -1px 1px 2px #FFF,
    1px 1px 2px #FFF;
}

#t-play-pause {
  font-size: 5rem;
}

.black-button:focus {
  text-shadow:
  1px 1px 6px #FFF,
  -1px -1px 6px #FFF,  
  1px -1px 6px #FFF,
  -1px 1px 6px #FFF,
  1px 1px 6px #FFF,
  0 0 30px #fff;
  outline: none;
}

.black-button:hover {
  text-shadow: 0 0 30px #fff;
  transform: scale(1.05);
  opacity: 75%;
}

.black-button:active {
  color: #ddd; 
}

#t-progress {
  margin-top: 1em;
}

#t-progress-segments {
  height: 3em;
  display: flex;
  justify-content: center;
  border: 3px solid #000;
  box-shadow: 0 0 5px 1px white;
  border-radius: 8px;
  overflow: hidden;
}

#t-progress-overlay {
  height: 3em;
  background: rgba(0,0,0,0.7);
  position: relative;
  top: -3em;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  margin-left: auto;
}

#t-progress-time {
  margin-top: -1em;
}

#t-progress-time, #t-message {
  font-size: 2em;
}

#t-settings {
  padding: 0 2.5rem;
}

#reset-label {
  line-height: 0;
  font-size: .5em;
  position: relative;
  top: -1.5em;
  text-shadow: none;
}

@media only screen and (max-height: 630px) {
  .black-button {
    font-size: 2em;
  }
  #t-play-pause {
    font-size: 4rem;
  }
  #t-message, #t-progress-time {
    font-size: 1.5em;
  }
}

@media only screen and (max-height: 550px) {
  #t-display {
    font-size: 6em;
  }
  #t-progress {
    margin-top: 0;
  }
  #t-progress-segments, #t-progress-overlay {
    height: 1.5em;
  }
  #t-progress-overlay {
    top: -1.5em;
  }
}